.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(243, 240, 234);
    display: fixed;
    align-items: center;
    justify-content: center;
}