.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 200, 200);
    display: fixed;
    align-items: center;
    justify-content: center;
}
.modal-content{
    width: 500px;
    background-color: #fff;

}
.modal-header, .modal-footer{
    padding: 10px;
}
.madal-title{
    marg
}